<div class="nav">
  <div class="nav-rogo">
    <a href="/">
      <button type="button" class="mt-4 btn btn-outline-success">
        <div class="rogo">Proposal Documents</div>
      </button>
    </a>
  </div>
  <ul class="list-right">
    <li>
      <button type="button" class="bottom-0 end-0 mt-5 btn btn-secondary btn-sm">ログイン</button>
    </li>
    <li>
      <a href="/users/sign_up" >
        <button type="button" class="bottom-0 start-0 ms-2 mt-5 btn btn-secondary btn-sm">新規登録</button>
      </a>
    </li>
  </ul>
</div>