<div class="container">
  <div class="row">
    <div class="mt-5 mx-5 occupation-head">法人営業部 第3チーム</div>
    <div class="card-content">
      <% @proposals.each do |proposal| %>
        <div class="card-name">
          <div class="card mt-5 mx-3" style="width: 20rem;">
            <%# <img src="https://picsum.photos/80/50" class="card-img-top" alt="PDF"> %>
            <div class="card-body">
              <p class="card-title">タイトル：<br><%= link_to proposal_path(proposal.id), class: "proposal-tag" do %><%= proposal.title %><% end %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-contet">作成者： <%=link_to proposal.users[0].name, "#", class: "proposal-tag" %></li>
              <li class="list-group-item list-contet">作成日： <%= proposal.created_at.strftime('%Y年%m月%d日') %></li>
              <% if proposal.likes.count == 4 %>
                <li class="list-group-item list-contet list-ok">完了　： 完了済み</li>
              <% else %>
                <li class="list-group-item list-contet">完了　： ------</li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>