<div class="container">
  <div class="row">
    <div class="mt-5 mx-5 occupation-head">法人営業部 第3チーム</div>
    <div class="card-content">
      <% @proposals.each do |proposal| %>
        <div class="card-name">
          <%= link_to proposal_path(proposal.id), class: "proposal-tag" do %>
            <div class="card mt-5 mx-3" style="width: 20rem;">
              <div class="card-body">
                <p class="card-title">タイトル：<br><%= proposal.title %></p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item list-contet">作成者：　　　<%= proposal.users[0].name %></li>
                <li class="list-group-item list-contet">作成日：　　　<%= proposal.created_at.strftime('%Y年%m月%d日') %></li>
                <% if proposal.likes.count == 4 %>
                  <li class="list-group-item list-contet list-ok">ステータス：　完了済み</li>
                <% else %>
                  <li class="list-group-item list-contet">ステータス：　未</li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>