<div class="side">
  <% Occupation.where.not(id: [1,2]).each do |occupation| %>
    <div class="occupation">
      <div class="occupation-name">
        <a href="#"><%= occupation.name %></a>
      </div>
    </div>
  <% end %>
  <div class="proposal-btn">
    <a href="/proposals/new" class="btn btn-outline-info">
      New 提案書
    </a>
  </div>
  <div class="footer">
    <div class="footer-2">Proposal Documents</div>
    <div class="footer-1">End&Start.co</div>
    <div class="footer-1">address:kobe city888</div>
    <div class="footer-1">tel:080-xxx-xxx</div>
    <div class="footer-1">&copy; 2021</div>
  </div>
</div>