<div class="container">
  <div class="row">
    <div class="col-12 header">
      <%= render "header_proposal" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 side-bar">
      <%= render "side_proposal" %>
    </div>
    <div class="col-sm-9 main">
      <%= render "main_show_proposal" %>
    </div>
  </div>
</div>