/* --------------ヘッダー画面------------------ */
.header {
  background-color: white;
  height: 80px;
  border-bottom: 1px solid black;
  
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.list-right{
  display: flex;
  list-style: none;
  align-items: center;
}
.rogo {
  font-size: 35px;
  text-decoration: none;
  color: black;
  font-family: 'Cherry Swash', cursive;
}
.occupation-head {
  color: black;
  font-size: 18px;
}
.user-log {
  color: black;
  text-decoration: none;

}

/* --------------サイド画面------------------ */
.side-bar {
  background-color:whitesmoke;
  height: calc(100vh - 80px);
}
.side {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.occupation {
  padding: 20px 0px 0px;
}
.occupation-name a {
  text-decoration: none;
  color: rgb(99, 98, 98);
  font-size: 15px;
}
.proposal-btn {
  margin: 40px 0px 250px 0;
}
.proposal-btn a {
  color: white;
}
.proposal-new-btn {
  color: white;
}
.footer {
  height: 100px;
  width: 100%;
  color: gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}

/* --------------メイン画面------------------ */
.main {
  height: calc(100vh - 80px);
  overflow: scroll;
  color: black;
}
.occupation-name {
  color: black;
  font-size: 20px;
}
.card {
  color: black;
}
.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proposal-tag {
  text-decoration: none;
  color: black;
}
.list-ok {
  color: rgb(216, 108, 108);
}

/* --------------提案書登録画面------------------ */
.form {
  color: rgb(87, 87, 87);
}

/* --------------ログイン・ログアウト・新規登録画面------------------ */
.user-btn {
  text-decoration: none;
  color: rgb(99, 207, 250);
}
.user-btn1 {
  text-decoration: none;
  color: whitesmoke;
}

/* --------------詳細画面------------------ */
.show-header1 {
  height: 130px;
}
.check-box {
  width: 30px;
  height: 40px;
  border: 1px solid black;
  color: black;
  font-size: 15px;
  text-align: center;
}
.check-box1 {
  width: 30px;
  height: 40px;
  border: 1px solid black;
  color: rgb(216, 108, 108);
  font-size: 15px;
  text-align: center;
}
.show-header2 {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.detail-title {
  width: 20%;
  color: black;
  background-color: #c5e0e4;
  border: 1px solid darkgray;
  font-size: 15px;
  text-align: left;
}
.detail-value {
  width: 80%;
  color: black;
  padding: 20px;
  border: 1px solid darkgrey;
  font-size: 15px;
}
.show-comments {
  background-color: rgb(233, 233, 233);
}
/* --------------コメント画面------------------ */
.comment-info {
  color: rgb(122, 122, 122);
}
.comment-comment {
  color: black;
}
.comment-title {
  color: rgb(61, 61, 61);
  font-size: 18px;
}